---
import { geti18n } from "../i18n";
import CardExperience from "./CardExperience.astro";
let { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
const { TITLE, SUBTITLE } = i18n.EXPERIENCE;
---

<section id="experience" class="experience__container flex__center">
  <div class="subtitle__container">
    <h2>{TITLE}</h2>
    <span>{SUBTITLE}</span>
  </div>
  <div class="info__container">
    <div class="center-line"></div>
    {
      Object.entries(i18n.EXPERIENCE.JOBS).map(([key, job]) => {
        return (
          <CardExperience
            job={job.JOB}
            company={job.COMPANY}
            date={job.DATE}
            description={job.DESCRIPTION}
            technologies={job.TECHNOLOGIES}
          />
        );
      })
    }
  </div>

  <img
    src="/images/img-extras/flower-1.png"
    alt=""
    class="img-extras flower-1"
  />
  <img
    src="/images/img-extras/flower-2.png"
    alt=""
    class="img-extras flower-2"
  />
  <img
    src="/images/img-extras/flower-3.png"
    alt=""
    class="img-extras flower-3"
  />
  <img src="/images/img-extras/leaf-1.png" alt="" class="img-extras leaf-1" />
  <img src="/images/img-extras/leaf-2.png" alt="" class="img-extras leaf-2" />
  <img src="/images/img-extras/leaf-3.png" alt="" class="img-extras leaf-3" />
</section>
<script>
  document.addEventListener("scroll", () => {
    const scrollPosition = window.scrollY;

    const flower1 = document.querySelector(".flower-1") as HTMLElement;
    const flower2 = document.querySelector(".flower-2") as HTMLElement;
    const flower3 = document.querySelector(".flower-3") as HTMLElement;
    const leaf1 = document.querySelector(".leaf-1") as HTMLElement;
    const leaf2 = document.querySelector(".leaf-2") as HTMLElement;
    const leaf3 = document.querySelector(".leaf-3") as HTMLElement;

    if (flower1)
      flower1.style.transform = `translateY(${scrollPosition * 0.1}px)`;
    if (flower2)
      flower2.style.transform = `translateY(${scrollPosition * 0.2}px)`;
    if (flower3)
      flower3.style.transform = `translateY(${scrollPosition * 0.3}px)`;
    if (leaf1)
      leaf1.style.transform = `translateY(${scrollPosition * 0.15}px) rotate(5.89deg)`;
    if (leaf2)
      leaf2.style.transform = `translateY(${scrollPosition * 0.25}px) rotate(-135.5deg)`;
    if (leaf3)
      leaf3.style.transform = `translateY(${scrollPosition * 0.1}px) rotate(-31deg)`;
  });
</script>

<style>
  .experience__container {
    background-color: var(--light-green);
    padding: var(--padding-desktop);
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100vw;

    & .subtitle__container {
      border: 1px solid var(--black);
      color: var(--white);
      display: flex;
      flex-direction: column;
      font-family: "Concert One", sans-serif;
      font-weight: 400;
      height: 155px;
      justify-content: center;
      width: 90%;
      max-width: 925px;
      gap: 0.75rem;
      & h2 {
        text-transform: uppercase;
      }
      & span {
        font-size: 1.25rem;
      }
    }

    .info__container {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      position: relative;
      align-items: center;
    }

    .info__container .card__job:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  .center-line {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 50%;
    height: 100%;
    border: 2px solid var(--dark-green);
    transform: translateX(-50%);
  }

  .info__container {
    display: flex;
    flex-direction: column;
  }

  .img-extras {
    position: absolute;
    transition: transform 0.5s ease-out;
    will-change: transform;
  }
  .flower-1 {
    left: -10%;
    top: 10%;
    width: 18%;
  }
  .flower-2 {
    right: 10%;
    top: 65%;
    width: 15%;
  }
  .flower-3 {
    right: 50px;
    top: 1450px;
    width: 180px;
  }
  .leaf-1 {
    left: 5%;
    top: 45%;
    width: 9%;
  }
  .leaf-2 {
    left: 300px;
    top: 1500px;
    width: 150px;
  }
  .leaf-3 {
    right: -2%;
    top: 30%;
    width: 13%;
  }

  @media (max-width: 769px) {
    .experience__container{
      padding: var(--padding-mobile);
    }
    .leaf-1 {
    left: 1%;
  }
  .leaf-3 {
    right: -4%;
  }
  }
  @media (max-width: 426px) {
    .experience__container {
      width: 85%;
    }
  }
</style>
