---
import { geti18n } from "../i18n";
let { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
---

<header class="header">
  <div class="flex__center">
    <figure>
      <img src="./images/logo-cat.svg" alt="cat" />
    </figure>
    <span>Moniicangulo</span>
  </div>
  <nav class="flex__center">
    <a href="#home">{i18n.HEADER.HOME}</a>
    <a href="#projects">{i18n.HEADER.PROJECTS}</a>
    <a href="#experience">{i18n.HEADER.EXPERIENCE}</a>
    <a href="#aboutme">{i18n.HEADER.ABOUT_ME}</a>
    <a href="#skills">{i18n.HEADER.SKILLS}</a>
    <a href="#contact">{i18n.HEADER.CONTACT_ME}</a>
  </nav>
</header>

<style>
  .header {
    align-items: center;
    color: var(--black);
    display: flex;
    background-color: var(--white);
    justify-content: space-between;
    padding: 1rem var(--padding-desktop);
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
    & figure {
      width: 50px;
      object-fit: contain;
      & img {
        width: 100%;
      }
    }
    & nav {
      gap: 2rem;
    }

    & a {
      color: var(--black);
      transition: all 0.3s ease-in;
      outline: none;
      border-bottom: 1px transparent;
      &:hover {
        color: var(--mauve);
        border-bottom: 1px solid var(--mauve);
      }
    }
  }

  @media (max-width: 768px) {
    .header {
      & nav {
        gap: 1rem;
      }
    }
  }
  @media (max-width: 426px) {
    .header {
      justify-content: center;
      & >div{
      }
      
      & nav {
        display: none;
      }
    }
  }
</style>
