---
import CardProject from "./CardProject.astro";
import { geti18n } from "../i18n";
let { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
const { TITLE, SUBTITLE } = i18n.PROJECTS;
---

<section id="projects" class="projects">
  <img src="/images/bg-curve.svg" alt="" class="bg" />
  <div class="subtitle__container">
    <h2>{TITLE}</h2>
    <span>{SUBTITLE}</span>
  </div>
  <div class="projects__container">
    {
      Object.entries(i18n.PROJECTS.PROJECTS).map(([key, project]) =>{
        return(
          <CardProject
            title = {project.TITLE}
            description = {project.DESCRIPTTION}
            link = {project.LINK}
            img = {project.IMAGE}
          />
        )
      } )

    }
  </div>
</section>

<style>
  .projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100vw;
    background-color: var(--bg-projects);
    padding-bottom: 8rem;
  }
  .projects__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    max-width: 1300px;
  }
  .subtitle__container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    & h2 {
      font-family: "Concert One", sans-serif;
      color: var(--indigo);
      text-transform: uppercase;
    }
    & span {
      color: var(--dark--slate-gray);
    }
  }
  .card__project {
    flex: 1 1 45%;
  }
  .bg {
    width: 100vw;
  }
  @media (max-width: 426px) {
    .projects__container {
      width: 400px;
      justify-content: center;
    }
  }
</style>
