---
import { geti18n } from "../i18n";
let { currentLocale } = Astro;
const i18n = geti18n({ currentLocale });
const { SKILLS, TOOLS } = i18n.SKILLS;
const tools = ["vscode", "figma", "github", "vercel"];
const skills = ["react", "vuejs", "typescript", "vite", "nodejs", "sass", "mongodb", "rubyonrails", "nextjs", "astrojs"];
---

<section id="skills" class="container">
  <div class="skills__container">
    <h2>{SKILLS}</h2>
    <div>
      {
        skills.map((skill) => (
          <figure>
            <img src={`./images/${skill}.svg`} alt={skill} title={skill} />
          </figure>
        ))
      }
    </div>
  </div>
  <div class="tools__container">
    <h2>{TOOLS}</h2>
    <div>
      {
        tools.map((tool) => (
          <figure>
            <img src={`./images/${tool}.svg`} alt={tool} title={tool} />
          </figure>
        ))
      }
    </div>
  </div>
</section>

<style>
  .container{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
  }
  .skills__container,
  .tools__container {
    background-color: var(--light-purple);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    justify-content: center;
    max-width: 560px;
    padding: 2rem;
    text-align: center;
    width: 100%;
    & h2{
      font-family: "Concert One", sans-serif;
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 400;
    }
    & > div {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem;
      justify-content: center;
    }
    & figure {
      width: 60px;
      object-fit: contain;
      & img {
        width: 100%;
        max-height: 60px;
      }
    }
  }
  @media (max-width: 426px) {
    .skills__container,
    .tools__Container {
      gap: 1rem;
      width: 85%;
      & figure {
        width: 45px;
      }
    }
  }
</style>
